<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Define custom levels before using them for filtering below. -->
    <CustomLevels>
        <CustomLevel name="DIAG" intLevel="350"/>
        <CustomLevel name="NOTICE" intLevel="450"/>
        <CustomLevel name="VERBOSE" intLevel="550"/>
    </CustomLevels>

    <Properties>
        <Property name="layout">%d [%t] %-5level %logger - %n%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
        </Console>
        <File name="MyFile" fileName="app.log">
            <PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <!-- Only events at DIAG level or more specific are sent to the console. -->

            <!--<AppenderRef ref="Console" level="diag" />-->
            <AppenderRef ref="Console" level="trace"/>
            <AppenderRef ref="MyFile" level="trace"/>
        </Root>
    </Loggers>
</Configuration>
        <!--
                location where Tomcat stores its logs
                C:\Users\ND\AppData\Local\JetBrains\IntelliJIdea2022.2\tomcat\a7dce7ae-daf8-4dd5-b930-907316892409
        -->
