<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!--    <bean id="userServiceObject" class="com.inexture.userportal.userportalproject.services.UserServiceImp" />-->
<!--    <bean id="addressServiceObject" class="com.inexture.userportal.userportalproject.services.AddressServiceImp" />-->
<!--    <bean id="user" class="com.inexture.userportal.userportalproject.model.User" />-->
<!--    <bean id="address" class="com.inexture.userportal.userportalproject.model.Address" />-->
<!--    <bean id="userDAO" class="com.inexture.userportal.userportalproject.dao.UserDAOImp" />-->
<!--    <bean id="addressDAO" class="com.inexture.userportal.userportalproject.dao.AddressDAOImp" />-->

    <mvc:annotation-driven/>
    <context:annotation-config/>
    <context:component-scan base-package="com.inexture.userportal.userportalproject" />

</beans>